<ion-view title="Chart Metric by bugs ">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>


    <ion-content padding="true">
        <!--  <div class="hc-pie" titulo="texto" items="limitedPrioridades"></div> -->
        <div class="row icon-row">
            <div style="margin: 0 auto ">
                <charts-directive ng-model="limitedPrioridadesBug" id="metricalTeam" titlechart="titlechart" class="charts-directive" settings="$root.limitedPrioridadesBug"
                type="pie"></charts-directive>
            </div>
        </div>
    </ion-content>

</ion-view>