<ion-view view-title="Dashboard">
    <ion-content class="padding">
        <div class="content has-header ionic-pseudo">
            <div class="list">
                <div class="item item-divider">
                    First Week
                </div>
                <a class="item" href="#">
          Monday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Tuesday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Wednesday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Thuesday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Friday
          <span class="badge badge-assertive">2h</span>
        </a>
                <div class="item item-divider">
                    Second Week
                </div>
                <a class="item" href="#">
          Monday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Tuesday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Wednesday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Thuesday
          <span class="badge badge-assertive">2h</span>
           
        </a>
                <a class="item" href="#">
          Friday
          <span class="badge badge-assertive">2h</span>
        </a>
                <div class="item item-divider">
                    Third Week
                </div>
                <a class="item" href="#">
          Monday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Tuesday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Wednesday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Thuesday
          <span class="badge badge-assertive">2h</span>
        </a>
                <a class="item" href="#">
          Friday
          <span class="badge badge-assertive">2h</span>
        </a>
            </div>
        </div>
    </ion-content>
</ion-view>
