<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- setting Tab -->
    <ion-tab title="Settings" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/setting">
        <ion-nav-view name="tab-setting"></ion-nav-view>
    </ion-tab>
    <!-- timesheet Tab -->
    <ion-tab title="TimeSheet" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/timesheet">
        <ion-nav-view name="tab-timesheet"></ion-nav-view>
    </ion-tab>
    <!-- logwork Tab -->
    <ion-tab title="LogWork" icon-off="ion-clock" icon-on="ion-clock" href="#/tab/logwork">
        <ion-nav-view name="tab-logwork"></ion-nav-view>
    </ion-tab>
</ion-tabs>
