<!-- <ion-view view-title="{{chat.name}}"> -->
<ion-view view-title="{{chat.name}}">
    <ion-content class="padding">
        <ion-list>
            <div ng-repeat="issue in issues">
                <ion-item class="item-stable element-relative" ng-click="toggleGroup(issue)" ng-class="{active: isGroupShown(issue)}">
                    <i class="ion-bug"></i>&nbsp; {{issue.key}}
                   
                    <span class="badge badge-assertive ">{{issue.timeSpent}}</span>
                </ion-item>
               
            </div>
        </ion-list>
        <!-- <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
        <p>
            {{chat.lastText}}
        </p> -->
    </ion-content>
</ion-view>
